body{
  background-color: #AD7BE9;
  height: auto;
}
.e1
{
    justify-content: center;
    height: 400px;
    width: 400px;
    border: 4px black solid;
}
.e2
{
  color: red;
  font-size: 24px;
  font-weight: bold;
  font-family: sans-serif;
}
